* {
    margin-left: 50px;
    margin-top: 50px;
}

#Search {
    margin: 0px;
    width: 10rem;
    text-align: center;
    padding: 5px;
    display: block;
    border-radius: 40px;
    border-color: darkcyan;
    border-style: solid;
    color: darkcyan;
    background-color: white;
}

#Plus {
    border-radius: 50%;
    border: hidden;
    color: white;
    background-color: darkcyan;
    display: block;
    margin: 10px;
}

#CAcc {
    background-color: blue;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    display: block;
    margin: 10px;
    display: block;
}